absl-py==0.7.0
argcomplete==1.9.4
astor==0.7.1
bleach==3.1.0
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
configparser==3.7.1
cycler==0.10.0
decorator==4.3.2
defusedxml==0.5.0
docopt==0.6.2
entrypoints==0.3
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
h5py==2.9.0
idna==2.8
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
Jinja2==2.10
jsonschema==2.6.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
linecache2==1.0.0
Mako==1.0.7
Markdown==3.0.1
MarkupSafe==1.1.1
mistune==0.8.4
mock==2.0.0
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.4
numpy==1.16.3
olefile==0.46
pandas==0.24.2
pandocfilters==1.4.2
pathlib2==2.3.3
pbr==5.1.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.0.0
ptyprocess==0.6.0
pycparser==2.19
pydot==1.4.1
Pygments==2.3.1
pygpu==0.7.6
python-dateutil==2.7.5
pytz==2018.9
PyYAML==3.13
pyzmq==17.1.2
requests==2.22.0
scandir==1.9.0
scikit-learn==0.20.2
scipy==1.2.1
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.8.1
singledispatch==3.4.0.3
tensorboard==1.10.0
tensorflow==1.10.0
testpath==0.4.2
tqdm==4.31.1
